.DS_Store
.idea
*.log
tmp/

autostart
BraveSoftware
BetterDiscord
dconf
discord
gconf
goa*
Electron
galculator
Kvantum
mimeapps.list
picom.conf
pavucontrol.ini
QtProject.conf
Trolltech.conf
users-dir.locale
users-dir.dirs
pulse
